# Filter

In [1]:
import numpy as np
import pandas as pd

## cargando df

In [3]:
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

df = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

df.sample(10)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
131,32.0,4,71.0,65.0,1836.0,21.0,74,3,toyota corolla 1200
307,26.8,6,173.0,115.0,2700.0,12.9,79,1,oldsmobile omega brougham
336,23.6,4,140.0,NaN,2905.0,14.3,80,1,ford mustang cobra
376,37.0,4,91.0,68.0,2025.0,18.2,82,3,mazda glc custom l
290,15.5,8,351.0,142.0,4054.0,14.3,79,1,ford country squire (sw)
166,13.0,8,302.0,129.0,3169.0,12.0,75,1,ford mustang ii
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
221,17.5,8,305.0,145.0,3880.0,12.5,77,1,chevrolet caprice classic
139,14.0,8,302.0,140.0,4638.0,16.0,74,1,ford gran torino (sw)

## filter con lambda

In [5]:
filtro = filter(lambda x: 'ford' in x, df['nombre'].str.lower())
list(filtro)

# dame los nombres de los coches que contengan ford

['ford torino',
 'ford galaxie 500',
 'ford maverick',
 'ford f250',
 'ford pinto',
 'ford torino 500',
 'ford galaxie 500',
 'ford country squire (sw)',
 'ford mustang',
 'ford pinto runabout',
 'ford galaxie 500',
 'ford gran torino (sw)',
 'ford pinto (sw)',
 'ford gran torino',
 'ford ltd',
 'ford maverick',
 'ford country',
 'ford pinto',
 'ford maverick',
 'ford pinto',
 'ford gran torino',
 'ford gran torino (sw)',
 'ford maverick',
 'ford ltd',
 'ford mustang ii',
 'ford pinto',
 'ford pinto',
 'ford gran torino',
 'ford maverick',
 'ford granada ghia',
 'ford pinto',
 'ford f108',
 'ford granada',
 'ford thunderbird',
 'ford mustang ii 2+2',
 'ford fiesta',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'ford futura',
 'ford fairmont 4',
 'ford ltd landau',
 'ford country squire (sw)',
 'ford fairmont',
 'ford mustang cobra',
 'ford escort 4w',
 'ford escort 2h',
 'ford granada gl',
 'ford fairmont futura',
 'ford granada l',
 'ford mustang gl',
 'ford ranger']

## filter con funciones personalizadas

In [7]:
def media_de_potencia_mas_100(x):
    return x['potencia'].mean() > 100

display(df.head())

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [8]:
df.groupby('nombre').filter(media_de_potencia_mas_100)

# dame todas las columnas agrupadas por nombre que tengan una potencia media superior a 100

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10